<% layout("/layout/boilerplate") -%>
<body>
    <h1>EDIT YOUR PLACE : <%= list.title %></h1>
    <form method="POST" action="/listing/<%= list._id %>?_method=PUT">
        <p>TITLE OF YOUR PLACE : 
            <input type="text" name="Listing[title]" value="<%= list.title %>"/>  </p>
        <p>DESCRIPTION OF YOUR PLACE : 
            <textarea name="Listing[description]" value="<%= list.description %>"><%= list.description %></textarea>  </p>
         <p>RENT OF YOUR PLACE PER NIGHT : 
            <input type="number" name="Listing[price]" value="<%= list.price %>" /> </p>
        <p>LOCATION OF YOUR PLACE : 
            <textarea name="location"value="<%= list.location %>" ><%= list.location %></textarea>  </p>
         <p>COUNTRY :
            <input type="text" name="Listing[country]" value="<%= list.country %>"/>  </p>
        <p>
            ENTER THE IMAGE OF YOUR LOCATION ONLY IN THE FORM OF URL:
            <input type="text" name="Listing[image]" value="<%= list.image %>"/>
        </p>
        <button>COMMIT</button>
    </form>
</body>
