<% layout("/layout/boilerplate") -%>
<body>
    <h1><%= list.title %></h1>
    <div>
        <img src="<%= list.image %>" width="100px" height="100px" alt="Image of <%= list.title %>" />
        <p>PRICE : &#8377; <%= list.price.toLocaleString("en-IN") %></p>
        <br>
        <p>ABOUT : <%= list.description %></p>
        <br>
        <p>LOCATION : <%= list.location %></p>
        <br>
        <p>COUNTRY : <%= list.country %></p>
        <br>
        <form method="GET" action="/listing/<%=list._id%>/edit">
            <button>EDIT</button>
        </form>
        <form method="POST" action="/listing/<%= list._id%>?_method=delete">
            <button>DELETE</button>
        </form>
    </div>
</body>
